<div style="padding: 2rem;" class="foorter-container w-100% border bg-black">
  <div style="padding: 2rem;" class="main border  flex flex-col sm:flex-row">
    <div class="sm:border sm:w-1/3">
      <img style="margin: 0rem auto;" class="w-2/3 h-2/3" src="./footer-logo.svg" alt="">
    </div>
    <div style="padding: 2rem;" class="mid  sm:w-1/3 text-white flex flex-col gap-5 justify-between items-center">
      <h1 class="text-3xl">Quick Links</h1>
      <ul class="felx flex-col gap-2">
        <li class="font-bold cursor-pointer"
          [routerLink]="['']">Home</li>
        <li class="font-bold cursor-pointer"
          [routerLink]="['services']">Services</li>
        <li class="font-bold cursor-pointer"
          [routerLink]="['about']">About Us</li>
        <li class="font-bold cursor-pointer"
          [routerLink]="['contact']">Contact</li>
        <!-- <li>Contact</li>
                <li>Projects</li> -->
      </ul>
    </div>
    <div class="right  sm:w-1/3 text-white flex flex-col gap-5 justify-center items-center">
      <h1 class="text-3xl">Get in Touch</h1>
      <div class="flex flex-col gap-3 text-white text-sm">
        <!-- Email -->
        <div class="flex items-center gap-2 hover:text-blue-300 transition duration-300">
          <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
            <path
              d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2zm8 7L4 6v12h16V6l-8 5z" />
          </svg>
          <span>{{contactDetails.email}}</span>
        </div>

        <div class="flex items-center gap-2 hover:text-green-400 transition duration-300">
          <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
            <path
              d="M6.62 10.79a15.05 15.05 0 006.59 6.59l2.2-2.2a1 1 0 011.11-.27c1.21.49 2.53.76 3.9.76a1 1 0 011 1v3.5a1 1 0 01-1 1C10.25 21 3 13.75 3 5.5a1 1 0 011-1H7.5a1 1 0 011 1c0 1.37.26 2.69.76 3.9a1 1 0 01-.26 1.11l-2.38 2.28z" />
          </svg>
          <span>{{contactDetails.phone1}}</span>
        </div>
        <div class="flex items-center gap-2 hover:text-green-400 transition duration-300">
          <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
            <path
              d="M6.62 10.79a15.05 15.05 0 006.59 6.59l2.2-2.2a1 1 0 011.11-.27c1.21.49 2.53.76 3.9.76a1 1 0 011 1v3.5a1 1 0 01-1 1C10.25 21 3 13.75 3 5.5a1 1 0 011-1H7.5a1 1 0 011 1c0 1.37.26 2.69.76 3.9a1 1 0 01-.26 1.11l-2.38 2.28z" />
          </svg>
          <span>{{contactDetails.phone2}}</span>
        </div>
      </div>

      <!-- <div class="z-10 flex gap-4 mt-4 text-white text-xl">
        <a href="https://linkedin.com" target="_blank"
          class="border-3 rounded-xs hover:border-blue-500 border-white text-white hover:text-blue-500 transition duration-300 ease-in-out">
          <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M4.98 3a2.5 2.5 0 11-.01 5.001A2.5 2.5 0 014.98 3zM2 9.5h3.96V22H2V9.5zm7.47 0h3.79v1.7h.05c.53-.98 1.82-2 3.75-2 4.01 0 4.75 2.64 4.75 6.08V22h-3.96v-5.63c0-1.34-.02-3.06-1.87-3.06-1.88 0-2.17 1.47-2.17 2.97V22h-3.96V9.5z" />
          </svg>
        </a>
      </div> -->


    </div>
  </div>
</div>